BasedOnStyle: LLVM
IndentWidth: 2
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
ContinuationIndentWidth: 2
AlignConsecutiveAssignments: true
AllowShortCaseLabelsOnASingleLine: true
IndentCaseLabels: true
ColumnLimit: 90
JavaImportGroups:
  - java
  - shared
