run = "./gradlew run"
hidden = ["build", ".*", "**/Makefile", "**/config.in", "*.gradle", "gradle", ".gradle", "LICENSE", "**/*.class"]

[languages.java]
pattern = "**/*.java"

[languages.java.languageServer]
start = ["jdt-language-server"]

[nix]
channel = "stable-21_11"
